@using RedditClone.Models
@model LoginViewModel
@{
    ViewBag.Title = "RedditClone - Log in";
}

<section id="loginForm">
    <h2 class="title">Log In</h2>
    @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
        </div>
        <div class="form-check">
            @Html.CheckBoxFor(m => m.RememberMe, new {@class = "form-check-input"})
            @Html.LabelFor(m => m.RememberMe, new {@class = "form-check-label"})
        </div>
        <button type="submit"class="btn btn-primary btn-block my-2">Login</button>
        @Html.ActionLink("Register as a new user", "Register")
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}